**/.cache
env
*.pyc
output/
data/
lm_cache
.idea
build
dist
*.egg-info
venv
.vscode/
__pycache__
temp
.DS_STORE
*logs
*.isorted


2norm/
2norm-v2/
aaai/
checks/
data/
wandb/
outputs/
temp/
logs/


.env


src/mha2mla-vlm/**/logs/
src/mha2mla-vlm/**/__pycache__/
src/mha2mla-vlm/**/checkpoints/
src/mha2mla-vlm/**/analysis_svd/
src/mha2mla-vlm/**/wandb/
